
* {
    margin: 0;
    padding: 0;
}

/* 키오스크 화면 */
#wrap {
    width: 1024px;
    height: 768px;
    border: 2px solid black;

    margin: 0 auto;
    /* position: relative; */
}

/* 타이틀 nav */
#title_area {
    width: 1024px;
    height: 100px;
    /* 영역확인용 배경색 */
    /* background-color: ivory; */

}

/* 타이틀 - 메인로고 */
.mainLogo {
    height: 90px;

    padding-top: 10px;
    padding-left: 20px;

    float: left;
    overflow: hidden;
}




/* 메뉴선택 탭 */
#menu_tab {
    width: 590px;
    height: 80px;
    
    background-color: DimGray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    margin-top: 20px;
    margin-right: 20px;

    float: right;
    
    
}

/* 메뉴 이미지 그룹 */
#menu_imges {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}


/* 메뉴 이미지들 */
#menu_imges>img {
    width: 80px;
    height: 55px;

    border-radius: 5px;
    background-color: white;
    
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

/* ------------------------------------------------ */
/* 상세메뉴영역 */
#content_area {
    width: 984px;
    height: 478px;
    margin: 0 auto;
    background-color: DimGray;
    border-top-left-radius: 30px;

}

/* 상세메뉴영역 흰배경 */
#content_background {
    width: 970px;
    height: 460px;

    /* text-align: center; */
    margin: 0px auto;
    top: 15px;

    background-color: white;
    border-top-left-radius: 30px;


    bottom:0px;    

    position: relative;
    overflow: auto;
}

#icons {
    
    position: relative;
    /* text-align: center; */
    margin: 0px auto;
    /* overflow: scroll; */
}

/* 상세메뉴 테이블 */
#menuTable {
    width: 950px;
    height: 450px;

    margin: 0 auto;
    margin-top: 20px;

    

    text-align: center;

    /* 영역확인용 배경색 */
    /* background-color: chartreuse; */

}

/* 상세메뉴 이미지들 */
.foodMenu {
    width: 200px;
    height: 130px;

    margin: 0 auto;
    

}

.menuName {
    font-weight: 100;
    color: dimgrey;
    margin-bottom: 5px;

}

.menuPrice {
    font-weight: bold;
    color: FireBrick;
    margin-bottom: 5px;
}


