@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

#container {
	width: 100%;
	height: 1000px;
	clear: both;
	background-color: ghostwhite;
}

/* nav ----------------------------------- */
#nav {
	width: 5%;
	height: 1000px;
	float: left;
	border-radius: 20px;
	/* background-color: rgb(255, 215, 83); */
	/* background-color: rgb(84, 223, 107); */
	background-color: rgb(140, 83, 148);
	text-align: center;
	font-size: 1.2em;
}

/* 링크 표시 */
#nav>a:link {
	color: white;
	text-decoration: none;
}

/* 방문한 링크 */
#nav>a:visited {
	color: pink;
}

/* 마우스가 올라갔을때 */
#nav>a:hover {
	color: red;
	background-color: yellow;
}

/* main_content -------------------------- */
#main_content_area {
	width: 75%;
	height: 1000px;
	float: left;
	/* margin-top: 20px;
    margin-left: 20px; */
	margin-bottom: 20px;
	background-color: ghostwhite;
}

.title_area {
	width: 100%;
	height: 160px;
	float: left;
	/* background-color:teal; */
	text-align: center;
	/* padding-top: 20px; */
	line-height: 160px;
}

.main_title {
	font-weight: bold;
	font-size: 2em;
	display: inline;
}

.sub_title {
	font-weight: lighter;
	display: inline;
	margin-left: 30px;
}

#itemlist_area {
	width: 100%;
	height: 900px;
	/* background-color: cornflowerblue; */
}

#itemlist_big_area, #itemlist_small_area {
	text-align: center;
}

.item_card_big {
	width: 400px;
	height: 430px;
	margin: 10px;
	margin-bottom: 30px;
	border: 1px solid #dddddd;
	border-radius: 10px;
	background-color: white;
	/* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1); */
	display: inline-block;
}

.item_card {
	width: 240px;
	height: 330px;
	margin: 5px;
	border: 1px solid #dddddd;
	border-radius: 10px;
	display: inline-block;
	background-color: white;
}

.item_card_big:hover {
	margin: 5px;
	border-radius: 10px;
	box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px
		rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, 0.2),
		inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px
		rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0);
	transition: all 0.3s;
}

.item_card:hover {
	margin: 5px;
	border-radius: 10px;
	box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px
		rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, 0.2),
		inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px
		rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0);
	transition: all 0.3s;
}

.item_img_big {
	width: 400px;
	height: 300px;
	border-radius: 10px;
}

.item_img {
	width: 240px;
	height: 180px;
	border-radius: 10px;
}

.item_info {
	margin-top: 10px;
	margin-left: 20px;
}

.item_info_div {
	width: 250px;
	float: left;
	display: inline;
	text-align: left;
	/* vertical-align: middle; */
}

/* 링크 표시 */
.item_info a:link {
	color: black;
	text-decoration: none;
}

/* 방문한 링크 */
.item_info a:visited {
	color: black;
}

/* 마우스가 올라갔을때 */
.item_info a:hover {
	color: white;
	background-color: rgb(140, 83, 148);
}

.item_Waiting_button {
	width: 100px;
	height: 40px;
	float: right;
	border-radius: 10px;
	background-color: lightgoldenrodyellow;
	border: none;
	cursor: pointer;
	display: inline;
	float: right;
}

/* aside ----------------------------------- */
.aside_area {
	width: 20%;
	height: 1000px;
	float: right;
	/* margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px; */
	border-radius: 30px;
	background-color: lavender;
}

.aside_title_area {
	width: 100%;
	height: 150px;
	text-align: left;
	margin-bottom: 10px;
	border-radius: 20px;
	/* vertical-align: middle; */
	/* background-color: rgb(140, 83, 148); */
}

.aside_myinfo {
	width: 100%;
	height: 80px;
	border-radius: 20px;
	margin-top: 20px;
	margin-left: 40px;
	/* background-color: aqua; */
	border: none;
	cursor: pointer;
}

.aside_tabs {
	width: 100%;
	height: 60px;
	border-radius: 20px 0 0 20px;
	background-color: rgb(140, 83, 148);
	line-height: 60px;
	border: none;
}

.aside_tab {
	width: 48%;
	height: 50px;
	border-radius: 20px;
	display: inline;
	/* clear: both; */
	background-color: rgb(140, 83, 148);
	color: white;
	border: none;
	cursor: pointer;
	font-size: 1.2em;
}

#alarm_b {
	font-size: 20px;
	color: black;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	display: inline-block;
	background-color: yellow;
}

/* button {
	background: inherit;
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding: 0;
	overflow: visible;
	cursor: pointer
} */

.alarm {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: red!important;
	display: block;
}

#aside_mylist {
	
}

.aside_mycard {
	width: 85%;
	height: 70px;
	vertical-align: middle;
	margin: 0 auto;
	margin-bottom: 15px;
	float: right;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	border-radius: 10px;
	background-color: white;
}

.aside_mycard:hover {
	margin: 10px;
	border-radius: 10px;
	box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px
		rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, 0.2),
		inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px
		rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0);
	transition: all 0.3s;
}

.aside_mycard+h4 {
	display: inline-block;
}

.aside_mystatewrap {
	display: inline-block;
}

.aside_mystate {
	width: 120px;
	height: 40px;
	border-radius: 0 0 10px 10px;
	margin-bottom: 10px;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	background-color: yellow;
}

/* 상태마다 색깔 변경 */
.next {
	background-color: grey;
}

.join {
	background-color: yellow;
}

.buyer {
	background-color: orange;
}

.review {
	background-color: green;
}

.aside_item_title {
	float: left;
	font-size: 1em;
	font-weight: bold;
}

/* 링크 표시 */
.aside_mycard a:link {
	color: black;
	text-decoration: none;
}

/* 방문한 링크 */
.aside_mycard a:visited {
	color: pink;
}

/* 마우스가 올라갔을때 */
.aside_mycard a:hover {
	color: white;
	background-color: rgb(140, 83, 148);
}

.aside_button {
	width: 100px;
	height: 40px;
	float: right;
	border-radius: 10px;
	background-color: lightgoldenrodyellow;
	border: none;
	cursor: pointer;
	display: inline;
}

/* ????  */
@media ( max-width : 360px ) {
	#container {
		width: 360px;
	}
	/* nav ----------------------------------- */
	#nav {
		width: 20%;
		height: 1000px;
		float: left;
		border-radius: 20px;
		/* background-color: rgb(255, 215, 83); */
		/* background-color: rgb(84, 223, 107); */
		background-color: rgb(140, 83, 148);
	}

	/* main_content -------------------------- */
	#main_content_area {
		width: 80%;
		height: 1000px;
		float: left;
		/* margin-top: 20px;
    margin-left: 20px; */
		margin-bottom: 20px;
		background-color: ghostwhite;
	}
	.title_area {
		width: 100%;
		height: 100px;
		float: left;
		/* background-color:teal; */
	}
	.aside_area {
		display: none;
	}
=======
@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

#container {
	width: 100%;
	height: 1000px;
	clear: both;
	background-color: ghostwhite;
}
   
/* nav ----------------------------------- */
#nav {
	width: 5%;
	height: 1000px;
	float: left;
	border-radius: 20px;
	/* background-color: rgb(255, 215, 83); */
	/* background-color: rgb(84, 223, 107); */
	background-color: rgb(140, 83, 148);
	text-align: center;
	font-size: 1.2em;
}

/* 링크 표시 */
#nav>a:link {
	color: white;
	text-decoration: none;
}

/* 방문한 링크 */
#nav>a:visited {
	color: pink;
}

/* 마우스가 올라갔을때 */
#nav>a:hover {
	color: red;
	background-color: yellow;
}

/* main_content -------------------------- */
#main_content_area {
	width: 75%;
	height: 1000px;
	float: left;
	/* margin-top: 20px;
    margin-left: 20px; */
	margin-bottom: 20px;
	background-color: ghostwhite;
}

.title_area {
	width: 100%;
	height: 160px;
	float: left;
	/* background-color:teal; */
	text-align: center;
	/* padding-top: 20px; */
	line-height: 160px;
}

.main_title {
	font-weight: bold;
	font-size: 2em;
	display: inline;
}

.sub_title {
	font-weight: lighter;
	display: inline;
	margin-left: 30px;
}

#itemlist_area {
	width: 100%;
	height: 900px;
	/* background-color: cornflowerblue; */
}

#itemlist_big_area, #itemlist_small_area {
	text-align: center;
}

.item_card_big {
	width: 400px;
	height: 430px;
	margin: 10px;
	margin-bottom: 30px;
	border: 1px solid #dddddd;
	border-radius: 10px;
	background-color: white;
	/* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1); */
	display: inline-block;
}

.item_card {
	width: 240px;
	height: 330px;
	margin: 5px;
	border: 1px solid #dddddd;
	border-radius: 10px;
	display: inline-block;
	background-color: white;
}

.item_card_big:hover {
	margin: 5px;
	border-radius: 10px;
	box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px
		rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, 0.2),
		inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px
		rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0);
	transition: all 0.3s;
}

.item_card:hover {
	margin: 5px;
	border-radius: 10px;
	box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px
		rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, 0.2),
		inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px
		rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0);
	transition: all 0.3s;
}

.item_img_big {
	width: 400px;
	height: 300px;
	border-radius: 10px;
}

.item_img {
	width: 240px;
	height: 180px;
	border-radius: 10px;
}

.item_info {
	margin-top: 10px;
	margin-left: 20px;
}

.item_info_div {
	width: 250px;
	float: left;
	display: inline;
	text-align: left;
	/* vertical-align: middle; */
}

/* 링크 표시 */
.item_info a:link {
	color: black;
	text-decoration: none;
}

/* 방문한 링크 */
.item_info a:visited {
	color: black;
}

/* 마우스가 올라갔을때 */
.item_info a:hover {
	color: white;
	background-color: rgb(140, 83, 148);
}

.item_Waiting_button {
	width: 100px;
	height: 40px;
	float: right;
	border-radius: 10px;
	background-color: lightgoldenrodyellow;
	border: none;
	cursor: pointer;
	display: inline;
	float: right;
}

/* aside ----------------------------------- */
.aside_area {
	width: 20%;
	height: 1000px;
	float: right;
	/* margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px; */
	border-radius: 30px;
	background-color: lavender;
}

.aside_title_area {
	width: 100%;
	height: 150px;
	text-align: left;
	margin-bottom: 10px;
	border-radius: 20px;
	/* vertical-align: middle; */
	/* background-color: rgb(140, 83, 148); */
}

.aside_myinfo {
	width: 100%;
	height: 80px;
	border-radius: 20px;
	margin-top: 20px;
	margin-left: 40px;
	/* background-color: aqua; */
	border: none;
	cursor: pointer;
}

.aside_tabs {
	width: 100%;
	height: 60px;
	border-radius: 20px 0 0 20px;
	background-color: rgb(140, 83, 148);
	line-height: 60px;
	border: none;
}

.aside_tab {
	width: 48%;
	height: 50px;
	border-radius: 20px;
	display: inline;
	/* clear: both; */
	background-color: rgb(140, 83, 148);
	color: white;
	border: none;
	cursor: pointer;
	font-size: 1.2em;
}

#alarm_b {
	font-size: 20px;
	color: black;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	display: inline-block;
	background-color: yellow;
}

.alarm {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: inline-block;
	background-color: yellow;
}

#aside_mylist {
	
}

.aside_mycard {
	width: 85%;
	height: 70px;
	vertical-align: middle;
	margin: 0 auto;
	margin-bottom: 15px;
	float: right;
	padding-left: 15px;
	padding-right: 15px; 
	padding-bottom: 15px;
	border-radius: 10px;
	background-color: white;
}

.aside_mycard:hover {
	margin: 10px;
	border-radius: 10px;
	box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px
		rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, 0.2),
		inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px
		rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0);
	transition: all 0.3s;
}

.aside_mycard + h4 {
	display:inline-block;
}

.aside_mystatewrap{
	display: inline-block;
}

.aside_mystate {
	width: 120px;
	height: 40px;
	border-radius: 0 0 10px 10px;
	margin-bottom: 10px;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	background-color: yellow;
}

/* 상태마다 색깔 변경 */
.next{
	background-color: grey;
}

.join{
	background-color: yellow;
}

.buyer{
	background-color: orange;
}

.review{
	background-color: green;
}

.aside_item_title {
	float: left;
	font-size: 1em;
	font-weight: bold;
}

/* 링크 표시 */
.aside_mycard a:link {
	color: black;
	text-decoration: none;
}

/* 방문한 링크 */
.aside_mycard a:visited {
	color: pink;
}

/* 마우스가 올라갔을때 */
.aside_mycard a:hover {
	color: white;
	background-color: rgb(140, 83, 148);
}

.aside_button {
	width: 100px;
	height: 40px;
	float: right;
	border-radius: 10px;
	background-color: lightgoldenrodyellow;
	border: none;
	cursor: pointer;
	display: inline;
}

/* ????  */
@media ( max-width : 360px ) {
	#container {
		width: 360px;
	}
	/* nav ----------------------------------- */
	#nav {
		width: 20%;
		height: 1000px;
		float: left;
		border-radius: 20px;
		/* background-color: rgb(255, 215, 83); */
		/* background-color: rgb(84, 223, 107); */
		background-color: rgb(140, 83, 148);
	}

	/* main_content -------------------------- */
	#main_content_area {
		width: 80%;
		height: 1000px;
		float: left;
		/* margin-top: 20px;
    margin-left: 20px; */
		margin-bottom: 20px;
		background-color: ghostwhite;
	}
	.title_area {
		width: 100%;
		height: 100px;
		float: left;
		/* background-color:teal; */
	}
	.aside_area {
		display: none;
	}
}