<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FirstWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <!-- 서블릿 등록하는 태그 엘리먼트 -->
  <servlet>
  	<!-- 서블릿을 식별할 수 있는 이름 등록 -->
  	<servlet-name>testServlet</servlet-name>
  	<!-- 서블릿의 클래스 이름 : FullName -->
  	<servlet-class>test.NowServlet</servlet-class>
  </servlet>
  
  
  <!-- 경로 맵핑(사용자가 어떤 요청 경로가 들어왔을 때 어떤 서블릿을 실행할 거냐) -->
  <!-- /hello 라는 요청경로가 들어오면, testServlet이라는 이름의 서블릿을 실행한다. 라고 경로를 맵핑. -->
  <servlet-mapping>
  	<!-- 요청에 실행할 서블릿 이름 등록 -->
  	<servlet-name>testServlet</servlet-name>
  
  	<!-- http://localhost:8080/web/hello -->
  	<url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>