
@charset "UTF-8";


.mainTitle{
	width: 50%;
	height: 100px;
	text-align: left; 
	/* background-color: powderblue; */
	/* display: inline-block; */
	float: left;
}


.text-purple,.hover-text-purple:hover{color:purple!important}
.base-purple {color:white!important; background-color:purple!important}


/* 버튼 : 검색. 글등록버튼 -------------------------- */
.btn_basic {
	width: 100px;
	height: 40px;
	border-radius: 10px;
	background-color: lightgoldenrodyellow;
	color : purple;
	border: none;
	cursor: pointer;
	display: inline-block;
}





.btn_regItem {
	width: 100px;
	height: 40px;
	border-radius: 10px;
	background-color: lightgoldenrodyellow;
	color : purple;
	border: none;
	cursor: pointer;
	display: inline-block;
}

.regItemForm>input, .regItemForm>select  {
	display: block;
}




/* 버튼 : 평점순 정렬  */
.btn_sort {
	width: 100px;
	height: 40px;
	border-radius: 10px;
	background-color: aquamarine;
	border: none;
	cursor: pointer;
	display: inline-block;
}






