<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- sql에 대한 설정 : select,update, insert등 sql문과 반환타입설정, 파라미터 설정도 해준다. -->
<mapper namespace="com.aia.op.mybatis.mapper.MemberMapper">

	<insert id="insertMember"
		parameterType="com.aia.op.member.model.Member" >  <!-- parameterType은 insert 실행할 떄 넘어오는 객체 타입 -->
	 
	<!-- INSERT INTO project.member (uid, upw, uname, uphoto ) VALUES (?,?,?,?) -->
	INSERT INTO project.member (uid, upw, uname, uphoto ) VALUES (#{uid}, #{upw}, #{uname}, #{uphoto})
	</insert>


</mapper>